@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 0px;
  background: #f5f3f3;
  overflow-x: hidden;
  /* Track */
  /* Handle */
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h2 {
  font-size: 70px;
  font-weight: 400;
  line-height: 95px;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  display: inline-block;
  text-decoration: none !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 47px;
  font-weight: 400;
  margin-bottom: 0;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
  margin: 0px;
  padding: 0px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

header .header-right ul li:last-child, .find-us, .logistics, .logistics .rotate-slider-container, .why-formula-next .row:first-child .col-lg-6 .round-logo, .why-formula-next .row:first-child .why-text-right, .why-formula-next .row .col-lg-3 .services, .why-formula-next .row.companies .col-lg-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-right ul li a, .find-us .find-us-list li, .largest .largest-cards p, .homepage-footer .footer-left-div > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 1400px) {
  header .header-right ul li a, .find-us .find-us-list li, .largest .largest-cards p, .homepage-footer .footer-left-div > p {
    font-size: 18px;
    line-height: 25px;
  }
}

.section-heading {
  padding-bottom: 38px;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 37px;
}

.arrow-img-container {
  height: 20px;
  width: 23px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img.home-banner-arrow {
  position: absolute;
  left: 0;
  margin: auto 0;
  height: inherit;
}

@media (max-width: 1400px) {
  img.home-banner-arrow {
    width: 20%;
  }
}

.white-button {
  border-radius: 37px;
  border: 1px solid #fff;
  padding: 20px;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1400px) {
  .white-button {
    padding: 18px;
    font-size: 16px;
  }
}

.fixed-nav {
  position: fixed;
  top: 0;
  background: transparent;
  height: 5vw;
  width: 100%;
  z-index: 1;
}

header .navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

@media only screen and (max-width: 1400px) {
  header .navbar-brand img {
    width: 75%;
  }
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-right ul li {
  list-style: none !important;
  margin: 0 25px;
}

header .header-right ul li a {
  color: #fff;
}

header .header-right ul li a:hover {
  color: #567BDE;
}

header .header-right ul li:first-child {
  margin-left: 0;
}

header .header-right ul li:last-child {
  margin-right: 0;
  height: 39px;
  width: 100px;
  background-color: #F55D0E;
  border: none;
}

.home-banner {
  background: url("../images/banner-bg.png") no-repeat;
  background-size: cover;
  width: 100%;
  padding: 10% 0;
  position: relative;
}

.home-banner .home-banner-text {
  z-index: 99;
  width: 74vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-banner .home-banner-text h1 {
  position: relative;
  color: #fff;
  font-weight: 300;
  font-size: 186px;
  width: 100%;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 25px;
}

@media (max-width: 1400px) {
  .home-banner .home-banner-text h1 {
    font-size: 120px !important;
  }
}

.home-banner .home-banner-text h1 span {
  float: right;
}

.home-banner .home-banner-text h1 span:first-child {
  float: left;
}

.home-banner .home-banner-text .banner-bottom-text {
  width: 70%;
}

.home-banner .home-banner-text .banner-bottom-text h6 {
  font-size: 33px;
  color: #F55D0E;
  line-height: 47px;
}

@media (max-width: 11400px) {
  .home-banner .home-banner-text .banner-bottom-text h6 {
    font-size: 25px;
  }
}

.home-banner .home-banner-text .banner-bottom-text p {
  font-size: 27px;
  color: #fff;
}

@media (max-width: 1400px) {
  .home-banner .home-banner-text .banner-bottom-text p {
    font-size: 19px;
  }
}

.home-banner .home-banner-text .home-banner-button {
  border-radius: 37px;
  border: 1px solid #fff;
  padding: 20px;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1400px) {
  .home-banner .home-banner-text .home-banner-button {
    padding: 18px;
    font-size: 16px;
  }
}

.find-us {
  padding: 10% 0;
}

.find-us h2 {
  color: #0E2971;
  margin-bottom: 16px;
  width: 110%;
}

.find-us p {
  margin-bottom: 16px;
  color: #F55D0E;
  font-weight: 700;
  line-height: 70px;
  font-size: 33px;
  border-bottom: 1px solid #707070;
}

@media (max-width: 1400px) {
  .find-us p {
    font-size: 28px;
    line-height: 40px;
  }
}

.find-us .find-us-list li {
  list-style-image: url("../images/Polygon 1.png");
  margin-bottom: 1.5rem;
}

.find-us .blue-button {
  margin-top: 2rem;
  border-radius: 37px;
  border: 1px solid #0E2971;
  padding: 20px;
  font-size: 20px;
  color: #0E2971;
}

@media (max-width: 1400px) {
  .find-us .blue-button {
    padding: 18px;
    font-size: 16px;
  }
}

.find-us .img-container {
  position: absolute;
  z-index: -1;
  right: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.find-us .img-container img {
  width: 100%;
}

.logistics {
  padding: 10% 0;
  background: url(../images/transport-bg.png) no-repeat;
  background-position: top;
  color: #fff;
  background-size: cover;
}

.logistics .rotate-slider-container {
  color: #fff;
  position: relative;
}

.logistics .rotate-slider-container .slider-text-container {
  position: absolute;
  margin: auto;
  color: #fff;
  text-align: center;
}

.logistics .rotate-slider-container .slider-text-container .slider-heading {
  font-size: 20px;
  font-weight: 700;
  color: #F55D0E;
  text-transform: uppercase;
}

.logistics .rotate-slider-container .slider-text-container .slider-text {
  font-size: 36px;
  font-weight: 500;
}

.logistics .express-ftl {
  color: #F55D0E;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 3rem;
}

.largest {
  border-top: 1px solid #707070;
  padding-top: 7%;
  padding-bottom: 5%;
  background-color: #0E2971;
  color: #fff;
}

.largest .row.icon-slider {
  margin: 5% 0;
}

.largest .row.icon-slider .col-lg-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.largest .row.icon-slider .img-container {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.largest .row.icon-slider .img-container img {
  width: 100%;
}

.largest .largest-banner-arrow {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
  margin: auto 0;
  width: 16%;
}

.largest .largest-numbers {
  text-align: center;
  margin-top: 5%;
}

.largest .largest-numbers span {
  font-size: 31px;
  color: #567BDE;
  font-weight: 500;
}

@media (max-width: 1400px) {
  .largest .largest-numbers span {
    font-size: 20px;
  }
}

.largest .largest-numbers span:first-child {
  font-size: 79px;
  color: #F55D0E;
  margin-bottom: 1rem;
}

@media (max-width: 1400px) {
  .largest .largest-numbers span:first-child {
    font-size: 55px;
  }
}

.largest .largest-cards .card-img-container {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.largest .largest-cards .card-img-container img {
  height: inherit;
  margin: auto;
  width: inherit;
}

.largest .largest-cards .d-flex {
  width: 100%;
  margin: 26px 0;
}

.largest .largest-cards .d-flex h3 {
  font-size: 39px;
  font-size: 600;
}

.why-formula-next {
  padding: 10% 0;
  background: url("../images/map-image-1.png") no-repeat right top;
}

.why-formula-next .row:first-child {
  margin-bottom: 10%;
}

.why-formula-next .row:first-child .col-lg-6 span {
  font-size: 30px;
  font-weight: 700;
  color: #F55D0E;
}

.why-formula-next .row:first-child .col-lg-6 h2 {
  color: #0E2971;
}

.why-formula-next .row:first-child .col-lg-6 .round-logo {
  height: 307px;
  width: 307px;
  background-color: #000;
  border-radius: 50%;
}

.why-formula-next .row h3 {
  font-size: 50px;
  font-weight: 600;
  color: #0E2971;
  text-align: center;
  margin-bottom: 54px;
}

.why-formula-next .row .col-lg-3 .services {
  height: 133px;
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: 500;
  background-color: #fff;
}

.why-formula-next .row .car-image {
  margin-top: 7%;
}

.why-formula-next .row.companies {
  padding-top: 5%;
  border-top: 1px solid #AFAFAF;
}

.why-formula-next .row.companies .col-lg-3 {
  margin-bottom: 1.5rem;
}

.homepage-footer {
  padding-top: 5%;
  padding-bottom: 2%;
  background: #011C4D;
  color: #fff;
}

.homepage-footer .home-banner-arrow {
  width: 12%;
}

.homepage-footer .copyright-text {
  font-size: 60px;
  color: #fff;
}

.homepage-footer .footer-left-div > p {
  margin-bottom: 0;
}

.homepage-footer .footer-left-div > p:last-child {
  margin-top: 32px;
}

.homepage-footer .col-lg-4:nth-child(2) h6 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 40px;
}

.homepage-footer .footer-right-list li {
  list-style: none;
  margin-bottom: 20px;
  color: #fff;
}

.homepage-footer .social-icons a img {
  width: 44px;
  height: 44px;
}

@media (max-width: 1400px) {
  h2 {
    font-size: 50px;
    line-height: 55px;
  }
  a {
    font-size: 18px;
    line-height: 35px;
  }
  p {
    font-size: 18px;
    line-height: 32px;
  }
  img.home-banner-arrow {
    width: 20%;
  }
  .home-banner .home-banner-text h1 {
    font-size: 120px !important;
  }
  .find-us p {
    font-size: 28px;
    line-height: 40px;
  }
  .largest .largest-cards .d-flex h3 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */